/* Page background and font */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Box that holds the form */
.container {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  width: 300px;
  text-align: center;
}

/* Title style */
h2 {
  color: #1e3c72;
  margin-bottom: 20px;
}

/* Form layout */
form {
  display: flex;
  flex-direction: column;
}

/* Label and input spacing */
label {
  text-align: left;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}



.password-field input {
  width: 100%;
  padding-right: 35px;
}

.password-field span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Button style */
button {
  background-color: #1e3c72;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2a5298;
}
